<ion-header  [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      GetInstaDP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
  
  <ion-toolbar>
    <ion-searchbar placeholder="Username" mode="ios" [(ngModel)]="ae"></ion-searchbar>
  </ion-toolbar>

  <div class="center1">
    <ion-button class="but" color="warning" mode="ios" shape="round" (click)="getPhoto(ae)">
      See Profile Pic
    </ion-button>
  </div>

  <ion-card mode="ios">
    <img class="center" [src]="foto">
  </ion-card>


<ion-card mode="ios">
  <ion-item lines="none">
    <ion-label slot="start">Name:</ion-label>
    <ion-badge class="k" color="dark">{{fullname}}</ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-label slot="start">Bio:</ion-label>
    <ion-badge class="k" color="dark">{{bio}}</ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-label slot="start">Following:</ion-label>
    <ion-badge class="k" color="dark">{{following}}</ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-label slot="start">Followers:</ion-label>
    <ion-badge class="k" color="dark">{{followers}}</ion-badge>
  </ion-item>
</ion-card>

</ion-content>


