.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.k{
  overflow: visible;
  white-space: initial;
}

.center1{
  text-align: center;
}

.k1{
  background: none;
  color: #5a6674;
  width: auto;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}

.container{
  display: flex;
  justify-content: center;
}
.imgs{
  max-width: 60%;
}
.a{
  text-align: center;
}
